.tasks {
    margin: 0px;
    padding: 0px;
}

.tasks__item {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid #ddd;
    align-items: center;
    grid-gap: 10px;
}

.tasks__item--hidden {
    display: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    height: 30px;
    width: 30px;
    color: white;
    border: none;
    transition: 0.3s;
    padding: 0px;
    cursor: pointer;
}

.tasks__button--done {
    background-color: hsl(124, 59%, 33%);
}

.tasks__button--done:hover {
    background-color: hsl(124, 59%, 45%);
    transform: scale(1.1);
}

.tasks__button--done:active {
    background-color: hsl(124, 59%, 50%);
}

.tasks__button--remove {
    background-color: hsl(353, 83%, 50%);
}

.tasks__button--remove:hover {
    background-color: hsl(353, 83%, 36%);
    transform: scale(1.1);
}

.tasks__button--remove:active {
    background-color: hsl(353, 83%, 43%);
}